<% if Accounts.can_send_sms?(submitter.account) %>
  <div class="mt-2 mb-1">
    <%= button_to button_title(title: submitter.sent_at? ? t('re_send_sms') : t('send_sms'), disabled_with: t('sending')), submitter_send_sms_index_path(submitter_slug: submitter.slug), class: 'btn btn-sm btn-primary w-full' %>
  </div>
<% end %>
